.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FEFEFE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  font-family: Futura, Avenir, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333333;
}

.top-nav {
  height: 52px;
  display: flex;
  align-content: flex-start;
  align-items: center;
  padding: 0 4rem;
  font-size: 1em;
  font-weight: regular;
  letter-spacing: 0.1em;
}

.drag-n-drop {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  height: 100%;
  padding: 1rem 4rem;
  /* grid-template-columns: repeat(auto-fill, 33.333%); */
  background-color: #FCFCFC;
}

.dnd-group {
  display: flex;
  min-width: 25%;
  min-height: 96px;
  margin-right: 2rem;
  flex-direction: column;
  background: #e2e2e2; 
	border: solid #BDBDBD 0; 
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.3)  ; 
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.3)  ; 
	-moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.3)  ;
  border-radius: 5px;
  padding: 1rem;
}

.group-title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding-left: 0.25rem;
  text-align: left;
}

.dnd-item {
  display: flex;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  background-color: #FCFCFC;
  border-radius: 5px;
  min-height: 80px;
  font-size: 1rem;
}

.dnd-item:last-of-type {
  margin-bottom: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
